<?xml version="1.0"?>

<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="error" />
    <module name="TreeWalker">
        <!-- Variable Declaration Usage Distance -->
        <module name="VariableDeclarationUsageDistance"/>

        <!-- Empty Block -->
        <module name="EmptyBlock"/>

        <!-- Modified Control Variable -->
        <module name="ModifiedControlVariable"/>
    </module>
</module>
